.container {
    width: 1000px;
    padding: 60px 0px;
}
.container > .row {
    width: 1000px;
    margin: 0 calc(50% - 500px);

}
@media (max-width: 1100px) {
    .container > .row {
        width: 800px;
        margin: 0 calc(50% - 400px);
    }
}
@media (max-width: 900px) {
    .container {
        width: 600px;
        margin: 0 calc(50% - 300px);
    }
}

@media (max-width: 1100px) {
    .container {
        width: 400px;
        margin: 0 calc(50% - 200px);
        padding-left: 20px;
        padding-right: 20px;
    }
}