/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/buttons.css';
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE, please */

section.container.bg-main {
    padding-bottom: 20px;
}
footer.container {
    padding-top: 0;
}