/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/buttons.css';
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE, please */

/* HERO SECTION - start */


.hero {
    padding-bottom: 20px;
}

.hero > .row-short {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.logo {
    height: 60px;
    width: 100%;
    margin-bottom: 20px;
    object-fit: contain;
    object-position: center;
}

.main-title {
    font-size: 70px;
    text-transform: uppercase;
}

.main-description {
    font-size: 20px;
    text-transform: uppercase;
}


.clock {
    margin: 40px 0;
}
/* HERO SECTION - end */

/* MAIN SECTION - start */
.main-content {
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}
.right-column {
    width: 40%;
}

.column-title {
    text-transform: uppercase;
    font-size: 18px;

}

.column-description {
    font-size: 17px;
    color: #777;

}

.column-description {
    color: var(--secondary-color);
}

.column-description > a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}
/* MAIN SECTION - end */

/* FOOTER SECTION - start */

footer.container {
    padding-top: 0;
}
/* FOOTER SECTION - end */

@media (max-width: 700px) {
    .main-content {
        flex-direction: column;
        row-gap: 40px;
}
    .main-content > * {
        width: 100%;
    }

}

@media (max-width: 500px) {
    .main-title {
        font-size: 50px;
    }
}